body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #4094d4;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: calc(2px + 1.2vmin);
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

h3, h4, p {
  margin: 0;
  margin-bottom: 6px;
}

i {
  color: crimson
}

li {
  background-color: #3dd5ff19;
  padding: 8px 20px;
  text-align: left;
  width: 100%;
}

li:hover {
  background-color: #3dd5ff22;
}

p {
  font-size: calc(6px + 1.4vmin);
  color: #c7c7c7;
}

ul {
  display: flex;
  font-size: calc(4px + 1.4vmin);
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 80%;
}

ul ul {
  width: 100%;
}


.screen {
  background-color: #21242b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(6px + 2vmin);
  color: white;
  padding-top: 20px;
}

.card {
  background-color: rgba(256, 256, 256, 0.02);
  margin: 20px;
  padding: 20px;
  border: 2px solid rgba(256, 256, 256, 0.6);
  border-radius: 4px;
  box-shadow: 1px 2px 4px 0 rgba(256, 256, 256, 0.2);
  width: 80%;
}

.card:hover {
  background-color: rgba(0, 0, 0, 0);
  border: solid rgba(256, 256, 256, 0.8);
  border-width: 2px 4px;
}

.pressable:hover {
  cursor: pointer;
}