:root {
  --link-color: #4094d488;
  --link-background-color-hover: #0e5c7213;
  --button-bg-color: #3dd5ff19;
  --button-hover-bg-color: #3dd5ff3a;
  --button-disabled-bg-color: #283c4219;
  --button-disabled-hover-bg-color: #283c4233;
  --button-disabled-border-color: #283c42;
  --text-color-hover: white;
  --input-bg-color: #3dd5ff19;
  --icon-color: crimson;
  --text-color: #c7c7c7;
  --warning-color: rgba(218, 218, 65, 0.1);
  --warning-color-hover: rgba(218, 218, 65, 0.2);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--link-color);
  box-sizing: border-box;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: calc(2px + 1.2vmin);
  padding: 8px 20px;
  text-align: left;
  width: 100%;
} & a:hover {
  background-color: var(--link-background-color-hover);
  color: var(--text-color);
}

button {
  background-color: var(--button-bg-color);
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--text-color);
  font-size: calc(6px + 1.4vmin);
  font-weight: bold;
  margin: 10px 0px;
  padding: 8px 20px;
  width: 100%;
} & button:hover {
  background-color: var(--button-hover-bg-color);
  color: var(--text-color-hover);
  cursor: pointer;
} & button:disabled {
  background-color: var(--button-disabled-bg-color);
  color: var(--text-color);
  cursor: not-allowed;
  border: 1px solid var(--button-disabled-border-color);
} & button:disabled:hover {
  background-color: var(--button-disabled-hover-bg-color);
  border-color: var(--button-disabled-border-color);
}

div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

h3, h4, p {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 6px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 1000px;
  width: 80%;
}

i {
  color: var(--icon-color);
}

input {
  background-color: var(--input-bg-color);
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--text-color-hover);
  font-size: calc(6px + 1.4vmin);
  margin: 2px 0;
  padding: 8px 20px;
  width: 100%;
}

input:hover {
  background-color: #3dd5ff22;
}

label {
  color: var(--text-color);
  display: inline-block;
  font-size: calc(4px + 1.4vmin);
  text-align: left;
  margin: 0;
  margin-bottom: 6px;
  width: 100%;
}	& label:hover {
  color: var(--text-color-hover);
}

li {
  background-color: #3dd5ff19;
  box-sizing: border-box;
  padding: 8px 20px;
  text-align: left;
  width: 100%;
} & li:not(:last-child) {
  margin-bottom: 8px;
}

li:hover {
  background-color: #3dd5ff22;
}

p {
  align-self: center;
  font-size: calc(6px + 1.4vmin);
  color: var(--text-color);
}

textarea {
  background-color: #3dd5ff19;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--text-color-hover);
  font-size: calc(6px + 1.4vmin);
  margin: 2px 0;
  padding: 8px 16px;
  resize: none;
  min-height: 200px;
  width: 100%;
} & textarea:hover {
  background-color: #3dd5ff22;
}

ul {
  display: flex;
  flex-direction: column;
  font-size: calc(4px + 1.4vmin);
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 80%;
}

ul ul {
  width: 100%;
}


.screen {
  background-color: #21242b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(6px + 2vmin);
  color: var(--text-color-hover);
  padding-top: 20px;
}

.card {
  background-color: rgba(256, 256, 256, 0.02);
  margin: 20px;
  padding: 20px;
  border: 2px solid rgba(256, 256, 256, 0.6);
  border-radius: 4px;
  box-shadow: 1px 2px 4px 0 rgba(256, 256, 256, 0.2);
  width: 80%;
} & .card:hover {
  background-color: rgba(0, 0, 0, 0);
  border: solid rgba(256, 256, 256, 0.8);
  border-width: 2px 4px;
}

.pressable:hover {
  cursor: pointer;
}

.primary {
  /* padding: 16px 20px; */
  background-color: #36ddf359;
  color: #e5e5e5;
} & .primary:hover {
  background-color: #36f3eab5;
}

.order-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.secondary {
  background-color: #00000000;
  color: var(--text-color);
  border: 1px solid var(--text-color);
} & .secondary:hover {
  background-color: #5fb8a3;
  border-color: #5fb8a3;
}

.subtitle {
  text-align: left;
}

.w45 {
  width: 45%;
}

.w80 {
  width: 80%;
}

.w100 {
  width: 100%;
}

.warning {
  background-color: var(--warning-color);
} & .warning:hover {
  background-color: var(--warning-color-hover);
}
